{{>head}}
</head>
<div class="centered-form">
  <div class="centered-form__box">
    <h1>
      Join
    </h1>
 <form action="/chat">
  <label for="username">Display Name</label>
  <input type="text" placeholder="Display Name" name="username">
  <label for="room">Room</label>
  <input type="text" name="room" placeholder="room">
  <button>Join</button>
 </form>
  </div>

</div>